*{
    margin: 0;         /* espacamento externo*/
    padding: 0;        /* espacamento interno*/
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;    
}

body {
    background-color: black;
    color: white;
}

